.scroll-outer {
    white-space: nowrap;
    overflow: hidden;
    padding: 24px 64px;
    bottom: 0;
    position: relative;
    height: calc(var(--spacing-unit) * 20);
}

.scroll-track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 16s linear infinite;
}
.scroll-text {
    margin-right: calc(var(--spacing-unit) * 10);
}

@keyframes marquee {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(-50%);
    }
}

@media only screen and (max-width: 700px) {
    .scroll-outer {
        padding: calc(2 * var(--spacing-unit));
        height: calc(var(--spacing-unit) * 14);
    }
    .scroll-text {
        margin-right: calc(var(--spacing-unit) * 5);
    }
}


