.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: calc(var(--spacing-unit) * 5);
  z-index:999;

}

.header_logo {
  grid-column: 2/4;
}

.header_nav {
  grid-column: span 1 / -2;
}
@media only screen and (max-width: 1000px){
  
}

/*--mobile*/
@media only screen and (max-width: 700px) {
  .header {
    padding-top: 0;
    height: 66px;
    align-items: center;
  }
  .header_nav {
    display: none;
  }

  .header_hamburger {
    grid-column: span 2 / -2;
    text-align: right;
  }
}
