.header {
  padding-top: calc(var(--spacing-unit) * 5);

}

.header_logo {
  grid-column: 2/4;
}

.header_title {
  grid-column: 4/9;
  display: inline;
}

.header-title_first,
.header-title_second {
  display: inline;
}

.header-titile_icon {

}
.header_nav {
  grid-column: -4/-2;
}

@media only screen and (max-width: 600px) {
  .header {
    padding-top: 0;
    height: 66px;
    align-items: center;
  }
  .header_nav,
  .header_title {
      display: none;
  }

  .header_logo {
    grid-column: 2 / span 5;
  }

  .header_hamburger {
    grid-column: span 2 / -2;
    text-align: right;
  }
}
