.kicker {
    height: 32vh;
}
.kicker_content {
    grid-column: 4/9;
    display: inline;
  }
  
  .kicker-content_en,
  .kicker-content_jp {
    display: inline;
  }

.kicker-content_icon {

}
/*--tablet*/
@media only screen and (max-width: 1000px) { 
  .kicker {
    height: 42vh;
}
  .kicker_content {
    grid-column: 4/7;
  }
}
/*--mobile*/
@media only screen and (max-width: 700px) { 
  .kicker {
    height: auto;
    margin-top: calc(var(--spacing-unit) * 8);
    margin-bottom: 12vh;
    max-width: 500px;
  }
  .kicker_content {
    grid-column: 2/-2;
  }
}

