
body {
  color: var(--color-black);
  font-family: var(--font-family-sans);
  font-size: 62.5%;
}

.t--alpha {
  font-family: var(--font-family-sans);
  font-size: var(--t--alpha-font-size);
  font-style: normal;
  font-weight: 400;
  letter-spacing: -1.4px;
}

.t--beta {
  font-family: var(--font-family-sans);
  font-size: var(--t--beta-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 1.32;
  letter-spacing: -0.6px;
}
.t--gamma{
  font-family: var(--font-family-sans);
  font-size: var(--t--gamma-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 1.32;
  letter-spacing: -0.6px;
}

.t--delta {
  font-family: var(--font-family-sans);
  font-size: var(--t--delta-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 1.32;
}

.t--epsilon {
  font-family: var(--font-family-sans);
  font-size: var(--t--epsilon-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 0.2px;
}

.t--zeta {
  font-family: var(--font-family-sans);
  font-size: var(--t--zeta-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.2px;
}
.t--eta {
  font-family: var(--font-family-sans);
  font-size: var(--t--eta-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.3px;
}

/* Japanease Font */
.t--alpha-jp {
  font-family: var(--font-family-jp);
  font-size: var(--t--alpha-jp-font-size);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -2px;
}

.t--epsilon-jp {
  font-family: var(--font-family-jp);
  font-size: var(--t--epsilon-jp-font-size);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.t--zeta-jp {
  font-family: var(--font-family-jp);
  font-size: var(--t--zeta-jp-font-size);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.8px;
}

@media only screen and (max-width: 700px) {
  .t--alpha {
    letter-spacing: -0.6px;
  }

  .t--beta {
    line-height: 53px;
    letter-spacing: -0.4px;
  }
  .t--gamma{
    letter-spacing: -0.2px;
  }

  .t--delta {
    letter-spacing: 0.1px;
  }

  .t--epsilon {
    line-height: 1.5;
    letter-spacing: 0.2px;
  }

  .t--zeta {
    letter-spacing: 0.2px;
  }
  .t--eta {
    letter-spacing: 0.3px;
  }

  /* Japanease Font */
  .t--alpha-jp {
    letter-spacing: -1.4px;
  }

  .t--epsilon-jp {
    letter-spacing: 0.2px;
  }

  .t--zeta-jp {
    letter-spacing: 0.8px;
  }
}
