/* @custom-media --blowup (min-width: 1500px); */
/* @custom-media --desktop (max-width: 1760px);
@custom-media --tablet (max-width: 1000px);
@custom-media --mobile (max-width: 700px); */

:root {

  /* Colors */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray: #666666;

  /* Typography */
  --font-family-jp: Helvetica, "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3";
  --font-family-sans: 'Manrope', Helvetica, Arial, sans-serif;

  /* Spacing */
  --spacing-unit: 8px;

  /* Beyond max-width, content won't expand any further */
  --desktop-max-width: 1400px;

  /* Grid */
  --grid-colums: 11;
  --grid-margin: calc(3 * var(--spacing-unit));

  --grid-inner-column-width: 1fr;
  --grid-outer-column-width: var(--grid-margin);

  --grid-template-column-width: minmax(200px, 46%);
  --grid-column-gap: 8%;

  /* Typography */
  --t--alpha-font-size: 7.75em;
  --t--alpha-jp-font-size: 7em;
  --t--beta-font-size: 4.0625em;
  --t--gamma-font-size: 23.125em;
  --t--delta-font-size: 2.25em;
  --t--epsilon-font-size: 1.75em;
  --t--epsilon-jp-font-size: 1.5625em;
  --t--zeta-font-size: 1.375em;
  --t--zeta-jp-font-size: 1.1875em;
  --t--eta-font-size: 1.125em;
}

@media only screen and (max-width: 1000px) { 
  :root {
    --grid-colums: 7;
  }
}

@media only screen and (max-width: 700px) { 
  :root {
    /* Typography */
    --t--alpha-font-size: 4.375em;
    --t--alpha-jp-font-size: 3.5em;
    --t--beta-font-size: 2.5em;
    --t--gamma-font-size: 2.25em;
    --t--delta-font-size: 1.875em;
    --t--epsilon-font-size: 1.4em;
    --t--epsilon-jp-font-size: 1.3125em;
    --t--zeta-font-size: 1.25em;
    --t--zeta-jp-font-size: 1.0625em;
    --t--eta-font-size: 1.4em;

    --grid-colums: 5;
    --grid-margin: calc(2 * var(--spacing-unit));
  }
}
